BenMAP/bin/
BenMAP/obj/
BenMAP/PopSim/PopSim/obj/
BenMAP/FireBirdHelper/bin/
BenMAP/BenMAP-CE Development Team.pfx
BenMAP/FireBirdHelper/obj/x64/Debug/FireBirdHelper.csproj.FileListAbsolute.txt
Uninstaller/obj/
BenMAP/Setup/Debug/Setup.msi
BenMAP/Setup/
BenMAP/PopSim/PopSim/bin/
BenMAP/DataConversion/DataConversion/obj/
BenMAP/DataConversion/DataConversion/bin/
BenMAP/FireBirdHelper/obj/
packages/
BenMAP/Resources/BuildDate.txt
BenMAP/FireBirdHelper/fbembed.dll
BenMAP/FireBirdHelper/icudt30.dll
BenMAP/FireBirdHelper/icuin30.dll
BenMAP/FireBirdHelper/icuuc30.dll
BenMAP/FireBirdHelper/intl/fbintl.dll
BenMAP/DataBase/BenMAP50_GBD.exe
*.suo
*.FDB
*.orig
*.swp
*.msi
*.exe
Uninstaller/bin/
*.user
#*.resx
*.csv
*.config
*.htm
*.cd
#/BenMAP/Resources/
/BenMAP/obj/Debug/*.cache
/BenMAP/obj/Debug/BenMAP.csproj.FileListAbsolute.txt
/.vs/
BenMAP/BenMap.cs
BenMAP/DataBase/placeholder.txt
