<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--add name="PopSim.Properties.Settings.PopSimConnectionString"
            connectionString="Database=|DataDirectory|\POPSIMDB.FDB;USER=SYSDBA;PASSWORD=masterkey" /-->
      <!--add name="ConnectionString" connectionString="pooling=True;min pool size=5;max pool size=20;connection timeout=15;connection lifetime=15;Database=##USERDATA##\BenMAP-CE\Database\BENMAP50.FDB;user id=SYSDBA;password=masterkey;character set=NONE;server type=1"/ -->
        <add name="ConnectionString" 
             connectionString="pooling=True;min pool size=5;max pool size=20;connection timeout=15;connection lifetime=15;Database=##USERDATA##\PopSim\Database\POPSIMDB.FDB;user id=SYSDBA;password=masterkey;character set=NONE;server type=1"/>


    </connectionStrings>
    <!--next section turns off Firebird Debug by disabling its listener -->
    <system.diagnostics>
      <sources>
        <source name="FirebirdSql.Data.FirebirdClient">
          <listeners>
            <clear/>
            <!--add name="console" type="System.Diagnostics.ConsoleTraceListener"/-->
          </listeners>
        </source>
      </sources>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
