<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="IsShow" value="T"/>
    <add key="IsShowExit" value="T"/>
    <add key="DefaultSetup" value="United States"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="pooling=True;min pool size=5;max pool size=20;connection timeout=15;connection lifetime=15;initial catalog=##USERDATA##\BenMAP-CE\\Database\BenMAP50.fdb;user id=SYSDBA;password=masterkey;character set=NONE;server type=1"/>
   
    <add name="PopSIMConnectionString" connectionString="pooling=True;min pool size=5;max pool size=20;connection timeout=15;connection lifetime=15;Database=##USERDATA##\BenMAP-CE\Database\POPSIMDB.fdb;user id=SYSDBA;password=masterkey;character set=NONE;server type=1"/>

    <add name="ConnectionStringGBD" connectionString="pooling=True;min pool size=5;max pool size=20;connection timeout=15;connection lifetime=15;Database=##USERDATA##\BenMAP-CE\Database\BenMAP50_GBD.fdb;user id=SYSDBA;password=masterkey;character set=NONE;server type=1"></add>
  
  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <!-- dpa 1/31/2017 added this to prevent verbose debugging output from the Firebird connector. -->
  <system.diagnostics>
    <sources>
      <source name="FirebirdSql.Data.FirebirdClient">
        <listeners>
          <clear/>
          <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>
