<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="IsShow" value="T"/>
    <add key="IsShowExit" value="T"/>
    <add key="DefaultSetup" value="United States"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="pooling=True;min pool size=5;max pool size=20;connection timeout=15;connection lifetime=15;Database=##USERDATA##\BenMAP-CE-MP\Database\BENMAP50.FDB;user id=SYSDBA;password=masterkey;character set=NONE;server type=1">
    </add>
    <add name="ConnectionStringGBD" connectionString="pooling=True;min pool size=5;max pool size=20;connection timeout=15;connection lifetime=15;Database=##USERDATA##\BenMAP-CE-MP\Database\BenMAP50_GBD.fdb;user id=SYSDBA;password=masterkey;character set=NONE;server type=1">
    </add>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>